html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #e5e6e6;
    background-size: 100% 100%;
    font-size: 12px;
}
.widget-layout{

}
    .widget-layout button {
        margin:10px;
        width:200px;
    }

.title {
    height: 100px;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: center;
}

    .title span {
        align-self: flex-end;
    }
.tile {
    height: 25vh;
    width: 33%;
    line-height: 25vh;
    text-align: center;
}
.tile-1, .tile-4 {
    background-color: #2B8EAD;
}
.tile-2, .tile-8 {
    background-color: #6F98A8;
}
.tile-3, .tile-6 {
    background-color: #BFBFBF;
}
.tile-5, .tile-9, .tile-7 {
    background-color: #2F454E;
}
.tile span {
    font-size: x-large;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.footer {
    height: 100px;
    text-align: center;
    font-size: large;
    padding:10px;
}
/*small screen*/
@media (max-width: 767px) {

    .widget-layout button {
        width: auto;
    }

    .title {
        height: 50px;
        background-color: #000;
        color:#fff;
    }
    .tile {
        height: 12vh;
        width: 100%;
        line-height: 12vh;
        margin-bottom:5px;
    }

        .tile span {
            color: #000;
        }

    .tile-1, .tile-4 {
        background-color: #CCC;
        border-left: solid 24px #2B8EAD;
    }

    .tile-2, .tile-8 {
        background-color: #CCC;
        border-left: solid 24px #6F98A8;
    }

    .tile-3, .tile-6 {
        background-color: #CCC;
        border-left: solid 24px #BFBFBF;
    }

    .tile-5, .tile-9, .tile-7 {
        background-color: #CCC;
        border-left: solid 24px #2F454E;
    }
}
